<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/main.css}"/>
    <title>EXAM TYPE</title>
    <script>
        function choose_type() {
            if (document.getElementById('expressions').checked) {
                window.location.href = window.location.href.replace("choose_exam_type", "new_exam")
            }

            if (document.getElementById('equations').checked) {
                window.location.href = window.location.href.replace("choose_exam_type", "new_equation_exam")
            }

            if (document.getElementById('simple-expressions').checked) {
                window.location.href = window.location.href.replace("choose_exam_type", "new_simple_exam")
            }
        }
    </script>
</head>
<body>
<div class="container col-lg-12">
    <div class="row">
        <div class="container navbar-top text-center">
            <h2>eCenter</h2>
        </div>
    </div>
    <div class="row">
        <div class="exam-type-form text-center container col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>CHOOSE YOUR EXAM TYPE</h3>
            <form>
                <p><input name="choose" type="radio" id="equations"/><label for="equations">Equations</label></p>
                <p><input name="choose" type="radio" id="expressions"/><label for="expressions">Expressions</label></p>
                <!-- <p><input name="choose" type="radio" id="simple-expressions"/><label for="simple-expressions">
                    Simple expressions</label></p> -->
                <p><input type="button" value="Choose" onclick="choose_type()"/></p>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>