<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" media="screen" th:href="@{/css/main.css}"/>
    <title>EXAMS</title>
    <script>function editExam() {

    }

    function newExam() {
            window.location.href = window.location.href.replace("?", "choose_exam_type?");
        }
    </script>
</head>

<body>
<div class="container col-lg-12">
    <div class="row">
        <div class="container navbar-top text-center">
            <h2>eCenter</h2>
        </div>
    </div>
    <div class="row">
        <div class="container text-center col-lg-12">
            <input type="button" id="new-exam-btn" class="btn btn-warning" onclick="newExam()" title="New exam" value="New exam"/>
            <div class="exam-table text-center">
            <table align="center">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="examConfigurationsWithGlobalId" type="com.db.mathservice.data.ExamConfigurationWithGlobalId"*/-->
                <tr th:each="examConfigurationWithGlobalId : ${examConfigurationsWithGlobalId}">
                    <td th:text="${examConfigurationWithGlobalId.globalId}">&nbsp;</td>
                    <td th:text="${examConfigurationWithGlobalId.examConfiguration.title}">&nbsp;</td>
                    <!--<td><input type="button" onclick="editExam()"/></td>-->
                </tr>
                <tr>
                    <td colspan="2">After adding the exams will be here</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>