<nav class="navbar-fixed-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Multi-choice questions</a>

  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/exams" routerLinkActive="active">Exams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid" style="margin-top: 10px">
  <router-outlet></router-outlet>
</div>
